html    
    head
        title=titulo
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', rel='stylesheet')
    body
        div.container
            h1=mensaje

            table.table.table-striped
                for persona in personas 
                    tr  
                        td=persona.id
                        td
                            a(href='/persona/'+persona.id) #{persona.nombre}